*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
}

body{
    background: url(../img/TOPO1.png) fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: #e7e7e7;
    font-size: 1rem;
}

a:hover{
    text-decoration: underline;
}

/* --- HEADER ------------------------------ */

header{
    position: fixed;
    display: flex;
    align-items: center;
    backdrop-filter: blur(5px);
    width: 100%;
    padding: 0 2rem;
    z-index: 3000;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px; 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .logo a:hover{
    text-decoration: none;
}

.navbar .logo span{
    transition: 150ms;
}

.navbar .logo span:hover{
    color: #FF5757;
    transition: 150ms;
    text-decoration: none;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle-btn{
    display: none;
    color: #FFFFFF;
    font-size: 1.5rem;
    cursor: pointer;
}

.action-btn{
    background: #515151;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    border-radius: 20px;
    border: none;
    outline: none;
}

.action-btn:hover{
    scale: 1.05;
    text-decoration: none;
}

.action-btn:active{
    scale: 0.95;
}

/* --- DROPDOWN ------------------------------ */

.dropdown-menu{
    background: #101010;
    display: none;
    position: absolute;
    overflow: hidden;
    top: 60px; 
    right: 2rem;
    height: 0; 
    width: 300px;
    border-radius: 10px;
    transition: height 0.2 cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 100;
}

.dropdown-menu.open{
    height: fit-content;
    padding: 20px 0px;
    border: 1px solid #464646;
}

.dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .action-btn{
    width: 80%;
    display: flex;
    justify-content: center;
}

/* --- HOME ------------------------------ */

section.hero-home{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
}

#hero h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* --- ARTICLE ------------------------------ */

section.hero-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
}

.veille-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    max-width: 350px;
    text-align: justify;
    color: #FFFFFF;
}

.veille-info h1{
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 20px;
}

.veille-info a{
    display: flex;
    color: #FFFFFF;
    padding: 10px 15px;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 100px;
    transition: 150ms;
}

.veille-info a p{
    margin-left: 5px;
}

.veille-info a:hover{
    backdrop-filter: blur(5px);
    padding: 10px 30px;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    transition: 150ms;
}

.veille-info a:active{
    scale: 0.95;
}

.article{
    backdrop-filter: blur(40px);
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
    margin: 20px 0px;
    padding: 10px;
    width: 1200px;
    border-radius: 15px;
    border: 2px solid #464646;
    transition: 150ms;
}

.article:hover{
    scale: 1.03;
    transition: 150ms;
}

section.hero-container .article img{
    object-fit: cover;
    margin-right: 20px;
    border-radius: 10px;
    height: 300px;
}

.date{
    font-weight: bold;
    margin-bottom: 5px;
}

.description{
    margin-bottom: 15px;
}

.article a{
    font-weight: bold;
    margin-bottom: 5px;
}

/* --- PERSONNEL ------------------------------ */

.vertical-article{
    backdrop-filter: blur(40px);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
    margin: 20px 0px;
    padding: 10px;
    width: 1200px;
    border-radius: 15px;
    border: 2px solid #464646;
    transition: 150ms;
}

.resume{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-align: left;
}

.left-resume{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10px;
    padding: 20px;
    min-height: 600px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}

.left-resume strong{
    color: #D7D7D7;
    font-size: x-large;
}

.left-resume p{
    margin: 10px 0px;
}

.right-resume{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    min-height: 600px;
    width: 100%;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}

.resume-title{
    font-size: xx-large;
    margin-bottom: 10px;
}

.resume-educ{
    padding: 10px;
    border-top: 1px solid #FFFFFF;
}

.resume-educ h1{
    color: #D7D7D7;
    font-size: x-large;
    margin-bottom: 20px;
}

.resume-educ p{
    margin-bottom: 20px;
}

/* --- FOOTER ------------------------------ */

footer{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px; 
    width: 350px;
    max-width: 400px;
    margin: 0 auto;
}

/* --- RESPONSIVE ------------------------------ */

/* --- TABLET FORMAT --- */

@media(max-width: 1250px){
    .navbar .links, .navbar .action-btn{
        display: none;
    }

    .navbar .toggle-btn{
        display: block;
    }

    .dropdown-menu{
        display: block;
    }

    section.hero-article{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        padding: 60px 20px 0px 20px;
    }

    section.hero-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        padding: 60px 20px 0px 20px;
    }

    .article{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    section.hero-container .article img{
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    
    .article:hover{
        scale: 1;
    }
}

/* --- PHONE FORMAT --- */

@media(max-width: 576px){
    .dropdown-menu {
        left: 2rem;
        width: unset;
    }

    section.hero-container .article img{
        height: 200px;
    }

    .article img{
        width: 100%;
        margin-right: 0;
        height: 150px;
    }

    .article:hover{
        scale: 1;
    }

    .informations{
        margin: 0;
    }

    .resume{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        width: 100%;
    }

    .left-resume{
        margin-bottom: 10px;
        min-height: auto;
        width: 100%;
    }

    .right-resume{
        margin-bottom: 10px;
        min-height: auto;
        width: 100%;
    }
}
