*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

body{
    background: url(../img/TOPO1.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

h1{
    color: #FFFFFF;
}

img{
    height: 250px;
    width: 220px;
    transition: 150ms;
}

img:hover{
    scale: 1.2;
    transition: 200ms;
    transform: rotate(5deg);
}

img:active{
    scale: 1;
    transition: 50ms;
}

/* --- MAIN ------------------------------ */

.back-btn{
    background: #3f3f3f;
    color: #FFFFFF;
    margin-top: 15px;
    padding: 5px 10px;
    border-radius: 30px;
    transition: 150ms;
}

.back-btn:hover{
    background: #555555;
    scale: 1.2;
    transition: 150ms;
}

.back-btn:active{
    scale: 1;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
}

.container{
    color: #FFFFFF;
    font-size: larger;
    backdrop-filter: blur(15px);
    width: 850px;
    padding: 60px;
    border: 2px solid #4d4d4d83;
    border-radius: 20px;
}

.card-top{
    background: #FF5757 transparent; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    font-size: x-large;
    font-weight: lighter;
}

.card-top h1{
    font-size: 4rem;
}

.icon{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon p{
    color: #FFFFFF;
    font-size: x-large;
    margin: 0px 15px;
    transition: 150ms;
}

.card-middle{
    background: #ffa557 transparent; 
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    height: fit-content;
    font-size: x-large;
    font-weight: lighter;
}

.card-bottom{
    background: #ffdd57 transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card-bottom h1{
    font-size: x-large;
    transition: 150ms;
}

.card-bottom a{
    color: #FFFFFF;
    font-weight: lighter;
    transition: 150ms;
}

.card-bottom a:hover{
    text-decoration: underline;
    scale: 1.1;
    transition: 150ms;
}

.icon a:hover{
    scale: 1.4;
    transition: 150ms;
}

/* --- FOOTER ------------------------------ */

footer{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px; 
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

footer a{
    color: #FFFFFF;
    margin-left: 15px;
}

footer a:hover{
    text-decoration: underline;
}

/* --- RESPONSIVE ------------------------------ */

@media(max-width: 900px){
    main{
        padding: 20px;
    }
    main a{
        color: #b73838;
    }
    main a{
        color: #b73838;
    }

    main p{
        font-size: small;
    }

    .container{
        backdrop-filter: blur(15px);
        width: 100%;
        max-width: 480px;
        padding: 30px 25px;
        border: 2px solid #4d4d4d83;
        border-radius: 20px;
    }

    .card-top h1{
        font-size: xx-large;
    }

    img{
        height: 120px;
        width: 100px;
        transition: 150ms;
    }
    
    img:hover{
        scale: 1.;
        transition: 200ms;
    }
    img:active{
        scale: 1;
        transition: 50ms;
    }

    .card-top{
        font-size: large;
        font-weight: lighter;
        margin-bottom: 30px;
    }

    .content p{
        font-size: medium;
        margin-bottom: 5px;
    }

    .content a{
        margin-bottom: 5px;
    }

    .card-bottom h1{
        font-size: larger;
    }

    .icon p{
        margin: 0px 8px;
    }

    .card-middle p{
        font-size: large;
        transition: 150ms;
    }

    .card-bottom h1{
        font-size: medium;
        transition: 150ms;
    }

    .card-bottom p{
        font-size: medium;
        transition: 150ms;
    }
}
